<section id="test-banner" class="gc-archv">
    <div id="devtoolbar" class="pull-right">
        <ul class="btn-toolbar list-inline" role="toolbar">
            <li class="btn-group"><a id="editBtn" class="btn btn-default btn-sm" href=""><span class="fa fa-edit"></span><span class="wb-inv">Edit</span></a></li>
            <li id="githubBtnGrp" class="btn-group wb-inv"><a id="githubBtn" class="btn btn-default btn-sm" href="#"><span class="fab fa-github"></span><span class="wb-inv">Go to Github source</span></a></li>
        </ul>
    </div>
    <div class="container test-banner-content">
        <h2>This site is for CRA testing purposes only</h2>
        <p class="mrgn-bttm-0">Do not enter any personal information on this site</p>
        {% if page.soureceurl %}
        {% for source in page.soureceurl %}
        {% if source.title and source.title != "" %}
        <p id="testpage-source"><strong>Source:</strong> <a href="{{ source.link }}">{{ source.title }}</a></p>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</section>
<script>
var exitPage = "{{ site.exitPage }}";
</script>
