---
layout: application
applicationName: "Canada Revenue Agency"
applicationURL: "#"
testBanner: false
title: "Application page title"
description: ""
subject: ""
auth:
  type: "active"
parentPage:
  - title: "My Business Account"
    link: #
secondarymenu:
  - title: "Help"
    link: https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/adjust-a-return.html
    subnav:
  - title: "Help B"
    link: https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/adjust-a-return.html
altLangPage: "#"
dateModified: YYYY-MM-DD
dateIssued: YYYY-MM-DD
breadcrumbs: false
nomenu: true
nositesearch: true
feedback: false
share: false
contextualFooter:
  title: " "
  links:
   - text: "About My Business Account"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/about-business-account.html"
   - text: "Terms and conditions for My Business Account"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/business-account-terms-conditions.html"
   - text: "My Business Account help desk"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/contact-us.html"
   - text: "Your suggestions"
     url: "https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account/suggestions-business-account.html"
   - text: "Contact us"
     url: "https://www.canada.ca/en/revenue-agency/corporate/contact-information.html"
noFooterCorporate: true
---

<p>page content</p>
