<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>page title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <!-- Meta data -->
    <meta name="author" content="Canada Revenue Agency">
    <meta name="dcterms.creator" content="Canada Revenue Agency">
    <meta name="robots" content="noindex, follow">
    <meta name="dcterms.language" title="ISO639-2/T" content="eng">
    <meta name="dcterms.audience" content="general public">
    <meta name="dcterms.spatial" content="Canada">
    <meta name="dcterms.type" content="service description">
    <meta name="dcterms.identifier" content="Canada_Revenue_Agency">
    <!-- Meta data -->
    <!-- Load closure template scripts -->
    <!--<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_43/cdts/compiled/soyutils.js"></script>-->
    <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_2/cdts/compiled/wet-en.js"></script>
    <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css">
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/m%C3%A9li-m%C3%A9lo/2024-09-kejimkujik.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cra-design.github.io/gst-hst-business/template/css/custom.css">
    <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_2/wet-boew/assets/favicon.ico" rel="shortcut icon">
</head>

<body vocab="http://schema.org/" typeof="WebPage" resource="#wb-webpage">
    <noscript>
        <!-- Write closure fall-back static file -->
        <!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_43/cdts/static/refTop.html -->
        <!--#include virtual="/app/cls/WET/gcweb/v4_0_43/cdts/static/refTop.html" -->
    </noscript>
        <!-- START of github only template section -->
        <data id="devoptions" value="true"></data>
    <data id="exitpage" data-exit-by-url="false" value="https://cra-design.github.io/gst-hst-business/exit-intent.html"></data>
    <data id="relextlnk" data-origin="https://www.canada.ca" value="false"></data>
    <data id="sourceurl" value="{&quot;sourcelink&quot;: &quot;http://www.canada.ca/&quot;, &quot;sourcetitle&quot;: &quot;Canada Revenue Agency&quot;}"></data>
    <data id="pageKeywords" value="test, keywords"></data>
    <div data-ajax-replace="https://cra-design.github.io/gst-hst-business/templates/includes/site-banner.htm"></div>
        <!-- END of github only template section -->
        <div id="def-top">
        <nav aria-label="Skip Links">
            <ul id="wb-tphp">
                <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
                <li class="wb-slc visible-xs visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "About government"</a></li>
            </ul>
        </nav>
        <header>
            <div id="wb-bnr" class="container">
                <div class="row">
                    <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
                        <h2 class="wb-inv">Language selection</h2>
                        <ul class="list-inline mrgn-bttm-0">

                            <li>
                                <a lang="fr" hreflang="fr" href="#">
                                    <span class="hidden-xs" translate="no">Français</span>
                                    <abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
                                </a>
                            </li>

                        </ul>
                    </section>
                    <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
                        <a href="https://www.canada.ca/en.html" property="url"><img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_2/wet-boew/assets/sig-blk-en.svg" alt="Government of Canada" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span></a>
                        <meta property="name" content="Government of Canada">
                        <meta property="areaServed" typeof="Country" content="Canada">
                        <link id="StdIssueWasHere1" property="logo" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_2/wet-boew/assets/wmms-blk.svg">
                    </div>
                    <section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
                        <h2>Search</h2>

                        <form action="www.canada.ca/en/revenue-agency/search.html" method="GET" name="cse-search-box" role="search" accept-charset="utf-8">
                            <div class="form-group wb-srch-qry">
                                <label for="wb-srch-q" class="wb-inv">Search CRA</label>
                                <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search CRA">
                                <datalist id="wb-srch-q-ac">
                                </datalist>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                            </div>
                        </form>

                    </section>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <nav class="gcweb-menu" typeof="SiteNavigationElement">

                            <h2 class="wb-inv" id="gcwebMenu">Menu</h2>
                            <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
                            <ul role="menu" aria-orientation="vertical" data-ajax-replace="//www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
                                <li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
                                <li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
                                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
                            </ul>
                        </nav>

                    </div>
            
                    <div class="col-xs-6 col-xs-offset-6 col-md-offset-0 col-md-4">
                        <section id="wb-so">
                            <h2 class="wb-inv">Sign in</h2>
                            <a class="wb-lbx btn btn-primary" href="https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services.html"><span class="visible-xs">Sign in</span><span class="hidden-xs">CRA sign in</span></a>
                        </section>
                    </div>

                </div>
            </div>
            <nav id="wb-bc" property="breadcrumb" aria-labelledby="breadcrumbPosition">
                <h2 id="breadcrumbPosition">You are here:</h2>
                <div class="container">
                    <ol class="breadcrumb" typeof="BreadcrumbList">

                        <li property="itemListElement" typeof="ListItem">
                            <a property="item" typeof="WebPage" href="https://www.canada.ca/en.html">
                                <span property="name">Canada.ca</span>
                            </a>
                            <meta property="position" content="1">
                        </li>

                        <li property="itemListElement" typeof="ListItem">
                            <a property="item" typeof="WebPage" href="https://www.canada.ca/en/services/taxes.html">
                                <span property="name">Taxes</span>
                            </a>
                            <meta property="position" content="2">
                        </li>

                    </ol>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement" class="container">
                <h1 property="name" id="wb-cont" dir="ltr">page title</h1>
                <div class="mwsgeneric-base-html parbase section">



                    <div id="page-content">
                        <p>page content</p>
                    </div>



                </div>
                <section class="pagedetails">
                    <h2 class="wb-inv">Page details</h2>
                    <div class="row">
                        <div class="col-sm-8 col-md-9 col-lg-9">
                            <div data-ajax-replace="https://www.canada.ca/etc/designs/canada/wet-boew/assets/feedback/page-feedback-en.html" class="wb-disable-allow" data-feedback-section="page title" data-feedback-theme="Taxes" data-feedback-institution="."></div>
                        </div>
                    </div>
                    <dl id="wb-dtmd">
                        <dt>Date modified:</dt>
                        <dd><time property="dateModified">YYYY-MM-DD</time></dd>
                    </dl>
                </section>
                <div id="def-preFooter">
                    <!-- Write closure fall-back static file -->
                    <!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_43/cdts/static/preFooter-en.html -->
                    <!--#include virtual="/app/cls/WET/gcweb/v4_0_43/cdts/static/preFooter-en.html" -->
                </div>
            </main>
        </div>
    </div>
    <!-- Write closure template -->
    <script>
        var defPreFooter = document.getElementById("def-preFooter");
        defPreFooter.outerHTML = wet.builder.preFooter({
            showShare: false,
            pagedetails: false
        });
    </script>
    <div id="def-footer">
        <!-- Write closure fall-back static file -->
        <!-- /ROOT/app/cls/WET/gcweb/v4_0_43/cdts/static/footer-en.html -->
        <!--#include virtual="/app/cls/WET/gcweb/v4_0_43/cdts/static/footer-en.html" -->
    </div>
    <!-- Write closure template -->
    <script>
        var defFooter = document.getElementById("def-footer");
        defFooter.outerHTML = wet.builder.footer({
            privacyLink: {
                href: "https://www.canada.ca/en/revenue-agency/corporate/privacy-notice.html"
            },
            contextualFooter: {
                title: "Canada Revenue Agency (CRA)",
                links: [{
                    text: "Contact the CRA",
                    href: "https://www.canada.ca/en/revenue-agency/corporate/contact-information.html"
                }, {
                    text: "About the CRA",
                    href: "https://www.canada.ca/en/revenue-agency/corporate/about-canada-revenue-agency-cra.html"
                }, {
                    text: "Compliance and enforcement",
                    href: "https://www.canada.ca/en/revenue-agency/programs/about-canada-revenue-agency-cra/compliance.html"
                }]
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/ep-pp.min.js"></script>
    <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
    <span id="wb-rsz" class="wb-init">&nbsp;</span>
    <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/m%C3%A9li-m%C3%A9lo/2024-09-kejimkujik.js"></script>
    <script src="https://cra-design.github.io/gst-hst-business/templates/scripts/external-link-detour.js"></script>
</body>
</html>
