---
title: &title_ref "page title"
description: ""
subject: ""
auth:
  type: "contextual"
  label: "Sign in"
  labelExtended: "CRA sign in"
  link: "https://cra-design.github.io/gst-hst-business/exit-intent.html?uri=https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services.html"
altLangPage: "#"
dateModified: YYYY-MM-DD
dateIssued: YYYY-MM-DD
breadcrumbs: # By default the Canada.ca crumbs is already set
  - title: "Taxes"
    link: "https://cra-design.github.io/gst-hst-business/exit-intent.html?https://www.canada.ca/en/services/taxes.html"
  - title: "Digital services"
    link: "https://cra-design.github.io/gst-hst-business/exit-intent.html?https://www.canada.ca/en/revenue-agency/services/e-services.html"
  - title: "Digital services for Businesses"
    link: "https://cra-design.github.io/gst-hst-business/exit-intent.html?https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-businesses.html"
feedbackData:
  section: *title_ref
soureceurl:
  - title: ""
    link: "#"
---

<p>page content</p>
