---
title: &title_ref "page title"
description: ""
subject: ""
auth:
  type: "contextual"
  label: "Sign in"
  labelExtended: "CRA sign in"
  link: "https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services.html"
altLangPage: "#"
dateModified: YYYY-MM-DD
dateIssued: YYYY-MM-DD
breadcrumbs: # By default the Canada.ca crumbs is already set
  - title: "Taxes"
    link: "https://www.canada.ca/en/services/taxes.html"
feedbackData:
  section: *title_ref
soureceurl:
  - title: ""
    link: "#"
---

<p>page content</p>
