{%- include variable-core.liquid -%}
{%- capture page-title -%}
	{%- if page.title -%}
		{{ page.title }}
	{%- else -%}
		Page untitled
	{%- endif -%}
{%- endcapture -%}
<!DOCTYPE html>
<html class="no-js" lang="{{ i18nText-lang | default: 'en' }}" dir="{{ i18nText-langDir | default: 'ltr' }}">
<head>
<meta charset="utf-8">
{% include license.html %}
<title>{{ page-title }} - {{ i18nText-siteTitle }}</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
{% include metadata.html %}
{% include resources-inc/head.html %}
</head>
<body {% if page.pageclass %}class="{{ page.pageclass }}" {% endif %}vocab="http://schema.org/" typeof="WebPage">
    <!-- START of github only template section -->
    <data id="devoptions" value="{{ site.developerOptions }}"></data>
    <data id="exitpage" data-exit-by-url="{{ site.exitByURL }}" value="{%- if page.exitPage -%}{{ page.exitPage }}{%- elsif site.exitPage -%}{{ site.exitPage }}{%- endif -%}"></data>
    <data id="relextlnk" data-origin="{{ site.externalOrigin }}" value="{{ site.relativeExternalLinks }}"></data>
{%- if site.testBanner != false and page.testBanner != false -%}
{% if page.soureceurl %}
  <data id="sourceurl" value="[{% for source in page.soureceurl %}{% if source.title and source.title != "" %}{% if source.index != 1 %}, {% endif %}&lcub;&quot;sourcelink&quot;: &quot;{{ source.link }}&quot;, &quot;sourcetitle&quot;: &quot;{{ source.title }}&quot;&rcub;{% endif %}{% endfor %}]"></data>
{% endif %}
{% if page.keywords and page.keywords != "" %}
  <data id="pageKeywords">{{page.keywords}}</data>
{% endif %}
{% include page-banner/site-banner.htm %}
{%- endif -%}
    <!-- END of github only template section -->
{%- if page.archived -%}
	{% include headers-includes/archive.html %}
{%- endif -%}
{% include skiplinks/skiplinks.html %}
{% include header/header.html %}
{{ content }}
{% include footers/footer.html %}
{% include resources-inc/footer.html %}
</body>
</html>
