<section id="test-banner" class="gc-archv">
    {% if site.developerOptions == true %}
    <div id="devtoolbar" class="pull-right">
        <ul class="btn-toolbar list-inline" role="toolbar">
            <li class="btn-group"><a id="editBtn" class="btn btn-default btn-sm" data-exit="false" href="" title="Edit"><span class="fa fa-edit"></span><span class="wb-inv">Edit</span></a></li>
            <li id="githubBtnGrp" class="btn-group hide-devmenu"><a id="githubBtn" class="btn btn-default btn-sm" data-exit="false" href="#" title="Go to Github source"><span class="fab fa-github"></span><span class="wb-inv">Go to Github source</span></a></li>
        </ul>
    </div>
    <script src="https://cra-design.github.io/gst-hst-business/templates/scripts/test-site-banner.js"></script>
    {% endif %}
    <div class="container test-banner-content">
        <h2>This site is for CRA testing purposes only</h2>
        <p class="mrgn-bttm-0">Do not enter any personal information on this site</p>
        {% if site.developerOptions == true %}
        {% if page.soureceurl %}
        <ol id="testpage-source" class="list-inline mrgn-bttm-0">
        {% for source in page.soureceurl %}
        {% if source.title and source.title != "" %}
        <li><span class="page.keywords"></span>&nbsp;<a data-exit="false" href="{{ source.link }}">{{ source.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ol>
        {% endif %}
        {% if page.keywords and page.keywords != "" %}
        <p class="mrgn-bttm-0"><span class="glyphicon glyphicon-tags mrgn-rght-sm"><span class="hidden">keyword</span></span>
{{page.keywords}}</p>
        {% endif %}
        {% endif %}
    </div>
</section>
